.movies_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    row-gap: 50px;
    margin: 0 20px;
    overflow-x: hidden;
}

.carousel_button{
    
}

.movies_row{
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap; 
  gap: 20px;
  padding-bottom: 10px;
}

.movie_list__buttons{
  display: flex;
  width: inherit;
  flex-direction: row;
}

.movies_row__left-scroll {
  display: block;
  position: sticky;
  left: 0;
  color: white;
}

.movies_row__right-scroll{
  display: block;
  position: right;
  left: 0;
  color: white;
}