.movies_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    row-gap: 50px;
    margin: 0 20px;
    overflow-x: hidden;
}

.carousel_button{
    
}

.movies_row{
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap; 
  gap: 20px;
  padding-bottom: 10px;
}